body{
    background-color: greenyellow;
    background: cover;
}
h2{
    font-size: 30px;
    color: #000;
    font-weight: 10000;
    font-style: oblique;
    font-family: impact;
}
#firstparagraph{
    background-color: burlywood;
    font-size: 25px;
    font-style: normal;
}
#secondparagraph{
    background-color: blanchedalmond;
    font-size: 20px;
}

table, td{
    border : 2px solid grey;
    border-collapse: collapse;
}